select {
    padding: 1em 1.4em;
    min-height: 3rem;
    border: 2px solid lightgrey;
    border-radius: 0.5rem;
    color: black;
    background-color: white;
    line-height: 1;
    min-width: 30ch;
    box-shadow: 0 0.4rem 0.4rem 0 #2221;
    transition: 0.6s ease-in;
   

  }
  .select:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.8rem 0.8rem 0 #2222;
    transition: 0.2s ease-out;
  }
  .select:has(option:checked:first-child) {
    color: #3338;
    text-transform: uppercase;

    
  }
  .select option {
    color: black;
    text-transform: none;
  }