.user_input{
    height: 50px !important;
    color: #212529;
    border: none;
    outline: none;
    box-shadow: none;
}
.user_input:active{
    
    color: #212529;
    border: none;
    outline: none;
    box-shadow: none;
}
.user_input:focus{
    
    color: #212529;
    border: none;
    outline: none;
    box-shadow: none;
}
.form_wrapper{
    color: #212529;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    margin-bottom: 10px;
}
.eye{
    font-size: 20px;
    cursor: pointer;
}